#main{

    text-align: center;

    .main-bg{
        background-image: url(../assets/img/jumbotron.jpg);
        background-position:top;
        background-size: cover;
        position: relative;
        height: 400px;

        .tag{
            background-color: $main-color;
            padding: 10px;
            color: white;
            position: absolute;
            bottom: -15px;
            left: 240px;
        }
    }

    .comic-bg{
        background-color: #222;
        padding: 60px 60px 20px 60px;

        .comic-container{
            max-width: 1400px;
            margin: 0 auto;
        }
        
        
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li{
                list-style-type: none;
                width: calc(80%/ 6);
                margin: 20px;
                text-align: start;

                .image{
                    height: 200px;
                    overflow: hidden;
                }

                h3{
                    margin-top: 10px;
                    font-weight: 500;
                }
            }
        }

    }


    H3{
        color: white;
    }

    button{
        text-align: center;
        padding: 10px 40px;
        background-color: $main-color;
        border: none;
        color: white;
        font-weight: bold;
    }
}